header {
    background-color: #f3f1f1;
    position: fixed;
    width: 100%;
    z-index: 999;
}


.menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #f3f1f1;
    width: 100vw;
    padding: 20px;

    @media screen and (min-width:1200px) {
        display: block;
        position: initial;
        width: auto;
    }

    ul {
        list-style: none;
        padding: 0;


        li {
            margin-top: 20px;
            &::after {
                content: "";
                display: block;
                background-color: #99c73c;
                width: 0;
                height: 3px;
                margin: 2px auto;
                transition: 0.5s;
                position: relative;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &:hover .submenu {
                display: block;
            }
        }

        a {
            color: $padrao;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .submenu {
        display: none;
        background-color: #333;
        position: absolute;
        top: 35px;
        padding: 0;

        li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.445);
            padding: 20px 40px;
            position: relative;

            &::after {
                content: "";
                display: inline-block;
                background-color: #99c73c;
                width: 5px !important;
                height: 0;
                transition: 0.5s;
                position: absolute;
                left: 0;
                top: 0;
            }

            &:hover {
                &::after {
                    height: 65px;
                }
            }
        }

        a {
            color: #fff;
            font-weight: normal;
        }
    }
}
