@import './colors.scss';
@import './variaveis.scss';
@import './Titulos.scss';
@import './Button.scss';
@import './App.scss';
@import './Header.scss';
@import './whatsApp.scss';
@import './Footer.scss';

.border-bottom{
    border-bottom: 5px solid $verde01;
    padding-bottom: 40px;
}

main{
    padding-top: 150px !important;
    padding-bottom:200px !important;
}



