.titulo01{
    font-size: 25px;
    color: #333;
    text-transform: uppercase;
  
    @media screen and (min-width: $xl) {
        font-size: 30px;
    }
}

.titulo02{
    font-size: 18px;
    color: #4e4e4e;

    @media screen and (min-width: $xl) {
        font-size: 25px;
    }
}