.whatsApp-link{
    position: fixed;
    bottom: 45%;
    right: 5px;
    width: 60px;
    z-index: 5;
    transition: 1s ease-in-out;

    @media screen and (min-width: $xl) {
        width: 70px;
    }

    &:hover{
        transform: scale(1.2);
        right: 20px;
    }
}