.titulo01 {
  font-size: 25px;
  color: #333;
  text-transform: uppercase; }
  @media screen and (min-width: 1200px) {
    .titulo01 {
      font-size: 30px; } }

.titulo02 {
  font-size: 18px;
  color: #4e4e4e; }
  @media screen and (min-width: 1200px) {
    .titulo02 {
      font-size: 25px; } }

.button01 {
  background-color: #99cc33;
  color: #fff;
  border-radius: 60px;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px 13px -6px #3a3a3a;
  box-shadow: 5px 5px 13px -6px #3a3a3a;
  transition: 0.8s ease-in-out;
  text-align: center;
  width: 180px; }
  @media screen and (min-width: 1200px) {
    .button01 {
      width: 200px;
      padding: 20px 40px;
      font-size: 20px; } }
  .button01:hover {
    text-decoration: none;
    background-color: #657c36;
    color: #fff; }

body,
html {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: 100%; }

main {
  padding-top: 100px;
  padding-bottom: 50px; }
  @media (min-width: 1200px) {
    main {
      padding-top: 200px;
      padding-bottom: 100px; } }

.center {
  text-align: center; }

p {
  font-size: 14px; }
  @media screen and (min-width: 1200px) {
    p {
      font-size: 16px; } }

header {
  background-color: #f3f1f1;
  position: fixed;
  width: 100%;
  z-index: 999; }

.menu {
  display: none;
  position: fixed;
  top: 65px;
  left: 0;
  background-color: #f3f1f1;
  width: 100vw;
  padding: 20px;
  height: 90vh;
  z-index: 999; }
  @media screen and (min-width: 1200px) {
    .menu {
      display: block;
      position: initial;
      width: auto;
      height: auto; } }
  .menu ul {
    list-style: none;
    padding: 0; }
    .menu ul li {
      margin-top: 30px;
      color: #3d3d3d;
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase; }
      @media screen and (min-width: 1200px) {
        .menu ul li {
          margin-top: 0;
          font-size: 18px; }
          .menu ul li::after {
            content: "";
            display: block;
            background-color: #99c73c;
            width: 0;
            height: 3px;
            margin: 2px auto;
            transition: 0.5s;
            position: relative; }
          .menu ul li:hover::after {
            width: 100%; } }
      .menu ul li:hover .submenu {
        display: block; }
    .menu ul a {
      color: #3d3d3d; }
      .menu ul a:hover {
        text-decoration: none; }
  .menu .submenu {
    display: none;
    background-color: #333;
    position: relative;
    top: 5px;
    left: -20px;
    width: 100vw;
    overflow: hidden; }
    @media screen and (min-width: 1200px) {
      .menu .submenu {
        position: absolute;
        top: 75px;
        padding: 0;
        width: 370px;
        top: 35px;
        left: 0; } }
    .menu .submenu li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.445);
      padding: 20px;
      position: relative;
      margin-top: 0; }
      @media screen and (min-width: 1200px) {
        .menu .submenu li {
          padding: 20px 40px;
          font-size: 16px; } }
      @media screen and (min-width: 1200px) {
        .menu .submenu li::after {
          content: "";
          display: inline-block;
          background-color: #99c73c;
          width: 5px !important;
          height: 0;
          transition: 0.5s;
          position: absolute;
          left: 0;
          top: -5px; } }
      @media screen and (min-width: 1200px) {
        .menu .submenu li:hover::after {
          height: 68px; } }
    .menu .submenu a {
      color: #fff;
      font-weight: normal;
      font-size: 14px; }
  .menu .redes-sociais {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); }

.whatsApp-link {
  position: fixed;
  bottom: 45%;
  right: 5px;
  width: 60px;
  z-index: 5;
  transition: 1s ease-in-out; }
  @media screen and (min-width: 1200px) {
    .whatsApp-link {
      width: 70px; } }
  .whatsApp-link:hover {
    transform: scale(1.2);
    right: 20px; }

footer {
  background-color: #292828;
  width: 100vw;
  height: 192px;
  color: #fff;
  position: fixed;
  bottom: 0; }
  @media screen and (min-width: 1200px) {
    footer {
      height: 80px; } }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #99c73c; }
  footer .container,
  footer .row {
    height: inherit; }
  footer .hover-redes-sociais:hover {
    color: #99c73c !important; }
  footer .endereco-position-mobile {
    position: relative;
    top: -35px;
    left: 40px; }
    @media screen and (min-width: 1200px) {
      footer .endereco-position-mobile {
        top: 0px;
        left: 0px; } }
  footer .whatsapp-position-mobile {
    position: relative;
    top: -5px; }
    @media screen and (min-width: 1200px) {
      footer .whatsapp-position-mobile {
        top: 0px;
        left: 0px; } }

.home__bg01 {
  background-image: url(../../../src/assets/banner-home.png);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100vw;
  opacity: 0.7;
  position: relative;
  animation-name: alternarBgHomeMobile;
  animation-duration: 60s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }
  @media screen and (min-width: 1200px) {
    .home__bg01 {
      background-attachment: fixed;
      background-position: center -20px;
      height: 100vh;
      animation: none; } }
  @media screen and (min-width: 1500px) {
    .home__bg01 {
      background-position-y: -100px; } }
  @media screen and (min-width: 1900px) {
    .home__bg01 {
      background-position-y: -200px; } }
.home__simone {
  padding-bottom: 20px; }
  .home__simone ul {
    list-style-type: square; }
  .home__simone li {
    margin-bottom: 20px; }
.home__foto-simone {
  height: 200px;
  width: 200px;
  background-image: url(../../assets/Simone-foto.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid rgba(51, 51, 51, 0.253); }
  @media screen and (min-width: 1200px) {
    .home__foto-simone {
      border-radius: 10px;
      height: 300px;
      width: auto;
      background-position: center; } }
.home__terapias {
  padding-bottom: 50px; }
  @media screen and (min-width: 1200px) {
    .home__terapias {
      padding-bottom: 150px; } }
.home__bg02 {
  background-image: url(../../assets/bg02.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .home__bg02 {
      background-position-y: 800px;
      height: 500px; } }
  .home__bg02 .bg-fundo-texto {
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.418);
    position: absolute;
    top: 0;
    left: 0; }
  .home__bg02 blockquote {
    color: #fff; }
  .home__bg02 p {
    font-size: 25px; }
    @media screen and (min-width: 1200px) {
      .home__bg02 p {
        font-size: 28px; } }

section {
  padding: 50px 0 170px 0; }
  @media screen and (min-width: 1200px) {
    section {
      padding: 80px 0 150px 0; } }

.img-consultorio {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  top: -100px; }
  @media screen and (min-width: 1200px) {
    .img-consultorio {
      height: 500px; } }

#img01-consultorio {
  background-image: url(../../assets/slider-fotos-consultorio.png); }

#img02-consultorio {
  background-image: url(../../assets/slider-fotos-consultorio02.jpg); }

.carousel-fotos .carousel-track {
  height: 200px !important; }
  @media screen and (min-width: 1200px) {
    .carousel-fotos .carousel-track {
      height: 500px !important; } }
.carousel-fotos .carousel-prev {
  width: 80px !important;
  height: 80px !important;
  top: 50% !important;
  left: 10px !important;
  transform: translateY(-50%) !important; }
  .carousel-fotos .carousel-prev::before {
    background-image: url(../../assets/before.svg) !important;
    width: 80px !important;
    height: 120px !important; }
  @media screen and (min-width: 1200px) {
    .carousel-fotos .carousel-prev {
      top: 35% !important; } }
.carousel-fotos .carousel-next {
  width: 80px !important;
  height: 80px !important;
  top: 50% !important;
  right: 10px !important;
  transform: translateY(-50%) !important; }
  .carousel-fotos .carousel-next::before {
    background-image: url(../../assets/next.svg) !important;
    width: 80px !important;
    height: 120px !important; }
  @media screen and (min-width: 1200px) {
    .carousel-fotos .carousel-next {
      top: 35% !important; } }
.carousel-fotos .carousel-dots {
  display: block; }
  @media screen and (min-width: 1200px) {
    .carousel-fotos .carousel-dots {
      display: none !important; } }

@keyframes alternarBgHomeMobile {
  0% {
    background-position: left center; }
  25% {
    background-position: right center; }
  50% {
    background-position: left center; }
  75% {
    background-position: right center; }
  100% {
    background-position: left center; } }
.carousel-terapias .carousel-track {
  height: 350px !important; }

.carousel-item {
  z-index: -1 !important; }

.carousel-arrow {
  display: none !important; }
  @media screen and (min-width: 1200px) {
    .carousel-arrow {
      display: block !important; } }

/*# sourceMappingURL=Home.css.map */
